<footer>
    <div class="footer-container">
        <p id="footer-copy">&copy; 2024 AEC - Atenccion En Casa. Todos
            los derechos
            reservados.</p>
        <ul id="footer-options">
            <li class="linkTo" id="inicio">Inicio</li>
            <li class="linkTo" id="nosotros">Nosotros</li>
            <li class="linkTo" id="servicios">Servicios</li>
            <li class="linkTo" id="testimonios">Testimonios</li>
            <li class="linkTo" id="admin">Administrar</li>
        </ul>
    </div>
</footer>