<section class="disable" id="float-prices-modal">
    <span id="exit">X</span>
    <div class="float-container">
    </div>
</section>

<span id="contact-buble" class="contact-button"><img
        src="/view/img/contacto.png" alt></span>
<div id="buble-icons-container" class="buble-icons-container-hide">
    <span></span>
    <acronym lang="es" title="GMAIL" class="first-option contact-option"
        style="bottom: 140px; right: 0px;">
        <a id="gmail-b"
            href>
            <img src="/view/img/gmail.png" alt="Gmail">
        </a>
    </acronym>
    <acronym lang="es" title="WHATSAPP"
        class="first-option contact-option"
        style="bottom: 125px; right: 75px;">
        <a
            id="whatsapp-b"
            href="#"
            target="_blank">
            <img src="/view/img/whatsapp.png" alt="Whatsapp">
        </a>
    </acronym>
    <acronym lang="es" title="FACEBOOK"
        class="first-option contact-option"
        style="bottom: 75px; right: 122px;">
        <a
            id="facebook-b"
            href="#">
            <img src="/view/img/facebook.png" alt="Facebook">
        </a>
    </acronym>
    <acronym lang="es" title="INSTAGRAM"
        class="first-option contact-option"
        style="bottom: 0px; right: 140px;">
        <a
            id="instagram-b"
            href="#">
            <img src="/view/img/instagram.png" alt="Instagram">
        </a>
    </acronym>

    <acronym lang="es" title="AGENDAR" class="contact-option"
        style="bottom: 190px; right: 85px;"><img id="AGENDAR-B"
            class="contact-button"
            src="/view/img/calendario.png"
            alt></acronym>
    <acronym lang="es" title="PRECIOS" class="contact-option"
        style="bottom: 72.5px; right: 195px;"><img id="PRECIOS-B"
            class="contact-button"
            src="/view/img/costos.png"
            alt></acronym>
</div>
<div id="contact-buble-view" class="contact-buble-view-hide"></div>
<header>
    <span id="header-background"></span>
    <div id="header-content">
        <img id="header-image" src="/view/img/AEC.png"
            alt="logo de la empresa">
        <ul id="header-options">
            <li class="linkTo" id="inicio">Inicio</li>
            <li class="linkTo" id="nosotros">Nosotros</li>
            <li class="linkTo" id="servicios">Servicios</li>
            <li class="linkTo" id="testimonios">Testimonios</li>
            <li class="contact-button" id="contacto">Contacto</li>
        </ul>
    </div>
</header>
