<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/view/css/style.css">
        <link rel="shortcut icon" href="/view/img/favicon.ico"
            type="image/x-icon">
        <!-- Incluir Chart.js desde una CDN -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>AEC - Atencion En Casa - Administrar contenido</title>
    </head>
    <body style="background-color: #333;">
        <section id="loading-screen">
            <h1>Cargando...</h1>
            <span id="loading-simbol"></span>
        </section>
        <section id="side-bar">
            <div class="logo-container">
                <img src="/view/img/AEC.png" alt="logo de la pagina">
            </div>
            <div class="option-container">
                <ul>
                    <li class="option" id="stats">Estadisticas</li>
                    <li class="option" id="indexForm">Inicio</li>
                    <li class="option" id="servicesForm">Servicios</li>
                    <li class="option" id="usForm">Nosotros</li>
                    <li class="option" id="testimoniesForm">Testimonios</li>
                    <li class="option" id="contactForm">Contacto</li>
                    <li class="option" id="closeSession">Cerrar sesion</li>
                </ul>
            </div>
        </section>

        <section
            class="window-size background-colored-secundary centered flex-column border-rouded"
            id="render-field">
        </section>
        <script type="module" src="/app.js"></script>
        <script>
            
        </script>
    </body>
</html>
