<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/view/css/style.css">
        <title>AEC - Atencion En Casa - Servicios</title>
    </head>
    <body>
        <div class="background-container bg002"></div>
        <section id="header-container"></section>

        <section id="show-services" class="horizontal-container window-size">
            <div class="third-column vertical-container">
                <div
                    class="solid complete-width border-rouded">
                    <div
                        class="option-box-static shadowed border-rouded choose-service-button"
                        id="serv-Medicina">
                        <h2>Medicina</h2>
                        <img src="/view/img/salud.png" alt>
                    </div>
                </div>
            </div>

            <div class="third-column vertical-container">
                <div
                    class="solid complete-width border-rouded">
                    <div
                        class="option-box-static shadowed border-rouded choose-service-button"
                        id="serv-Acompanamiento">
                        <h2>Acompanamiento</h2>
                        <img src="/view/img/asistente.png" alt>
                    </div>

                    <div
                        class="option-box-static shadowed border-rouded choose-service-button"
                        id="serv-Rehabilitacion">
                        <h2>Rehabilitacion</h2>
                        <img src="/view/img/fisioterapia.png" alt>
                    </div>
                </div>
            </div>
            <div class="third-column vertical-container">
                <div class="solid complete-width border-rouded">
                    <div
                        class="option-box-static shadowed border-rouded choose-service-button"
                        id="serv-Enfermeria">
                        <h2>Enfermeria</h2>
                        <img src="/view/img/enfermera.png" alt>
                    </div>
                </div>
            </div>

        </section>

        <section id="explain-service"
            class="horizontal-container window-size disable">
            <div class="third-column vertical-container" id="service-choosed">
            </div>

            <div
                class="sixth-column vertical-container color-solid border-rouded shadowed">
                <h1>Titulo de la funcion</h1>
                <span class="line"></span>
                <div
                    class="column-sixth-continer vertical-container color-solid border-rouded shadowed"
                    id="service-function-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Assumenda adipisci quam provident deleniti accusantium
                        nihil pariatur quasi ipsa modi eaque.
                    </p>
                </div>

                <div class="column-third-continer horizontal-container">
                    <button id="cotizar-button">Cotizar Servicio</button>
                    <button id="contratar-button">contratar Servicio</button>
                </div>
            </div>
        </section>

        <script type="module" src="/app.js"></script>
    </body>
</html>