<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/view/css/style.css">
        <link rel="shortcut icon" href="/view/img/favicon.ico"
            type="image/x-icon">
        <title>AEC - Atencion En Casa - Servicios</title>
    </head>
    <body>
        <div class="background-container bg002"></div>
        <section id="header-container"></section>

        <section id="loading-screen">
            <h1>Cargando...</h1>
            <span id="loading-simbol"></span>
        </section>

        <section id="show-services" class="horizontal-container window-size">

        </section>

        <section id="explain-service"
            class="horizontal-container window-size disable">
            <div class="third-column vertical-container" id="service-choosed">
            </div>

            <div
                class="sixth-column vertical-container color-solid border-rouded shadowed">
                <h1 id="function-title">A tu servicio</h1>
                <span class="line"></span>
                <div
                    class="column-sixth-continer vertical-container color-solid border-rouded shadowed">
                    <p id="service-function-text">
                        selecciona una de las opciones que te brindamos
                    </p>
                </div>

                <div class="column-third-continer horizontal-container disable"
                    id="Button-Serv-Function">
                    <button id="cotizar-button">Cotizar Servicio</button>
                    <button id="contratar-button">contratar Servicio</button>
                </div>
            </div>
        </section>

        <script type="module" src="/app.js"></script>
    </body>
</html>