<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="shortcut icon" href="/view/img/favicon.ico"
            type="image/x-icon">
        <title>AEC - Atencion En Casa - Testimonios</title>
    </head>
    <body>
        <div class="background-container bg004"></div>
        <section id="header-container"></section>

        <section id="loading-screen">
            <h1>Cargando...</h1>
            <span id="loading-simbol"></span>
        </section>

        <section id="content-container">

        </section>

        <script type="module" src="../app.js"></script>
    </body>
</html>