<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/view/css/style.css">
        <title>AEC - Atencion En Casa - Nosotros</title>
    </head>
    <body>
        <div class="background-container bg003"></div>
        <section id="header-container"></section>

        <section class="opaque-alfa-container">
            <div class="opaque-alfa-container">
                <div class="opaque-alfa-container">
                    <h1 class="title">Nuestra Historia</h1>
                    <span class="line"></span>
                    <p class="little-padding">
                        Una breve historia que destaque los hitos
                        importantes, cómo y por qué se fundó la empresa, y
                        cualquier
                        desarrollo significativo desde entonces.
                    </p>
                </div>
            </div>
            <!-- Historia de la empresa: Una breve historia que destaque los hitos
            importantes, cómo y por qué se fundó la empresa, y cualquier
            desarrollo significativo desde entonces. -->
            <div class="horizontal-container">
                <div class="half-horizontal">
                    <div class="box-double column-flow">
                        <h1 class="title">Mision</h1>
                        <span class="line"></span>
                        <p class="little-padding">
                            mision de la empresa
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Blanditiis eum id quod veritatis ad.
                            Aspernatur, assumenda! Nulla magnam consequatur
                            amet?
                        </p>
                    </div>
                </div>
                <div class="half-horizontal">
                    <div class="box-double column-flow ">
                        <h1 class="title">Vision</h1>
                        <span class="line"></span>
                        <p class="little-padding">
                            vision de la empresa
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Blanditiis distinctio voluptate aspernatur
                            reiciendis laboriosam numquam exercitationem officia
                            dolor perspiciatis voluptatibus!
                        </p>
                    </div>
                </div>
            </div>
            <!-- Misión y visión: Describe la razón de ser de la empresa, sus
            objetivos a largo plazo y la dirección en la que se dirige. -->
            <div class="horizontal-container">
                <div class="color-solid sixth-column">
                    <h1 class="title">Nuetra Filosofia</h1>
                    <span class="line"></span>
                    <p class="little-padding">
                        Explica cómo la empresa aborda los desafíos,
                        su enfoque para brindar productos o servicios
                        de calidad y cómo se diferencia de la competencia.
                    </p>
                </div>
                <div class="third-column color-solid">
                    <h1 class="title">Nuetros Valores</h1>
                    <span class="line"></span>
                    <p class="little-padding">
                        describe los valores fundamentales de la
                        empresa y cómo se reflejan en su trabajo diario y en las
                        relaciones
                        con los clientes y empleados.
                    </p>
                </div>
            </div>

            <!-- Filosofía de trabajo: Explica cómo la empresa aborda los desafíos,
            su enfoque para brindar productos o servicios de calidad y cómo se
            diferencia de la competencia.

            Valores y principios: Enumera los valores fundamentales de la
            empresa y cómo se reflejan en su trabajo diario y en las relaciones
            con los clientes y empleados. -->

            <div class="opaque-alfa-container">
                <h1 class="title">Nuestros Compromisos</h1>
                <span class="line"></span>
                <p class="little-padding">
                    Si la empresa está
                    comprometida con causas sociales o ambientales, esta es una
                    buena
                    oportunidad para resaltar esos esfuerzos.
                </p>
            </div>

            <!-- Compromiso con la comunidad o sostenibilidad: Si la empresa está
            comprometida con causas sociales o ambientales, esta es una buena
            oportunidad para resaltar esos esfuerzos. -->

            <div class="horizontal-container">
                <div id="premios-carousel" class="carousel half-horizontal">
                    <div
                        class="carousel-item opaque-container column-flow unhide">
                        <h1 class="title">Item 1</h1>
                        <span class="line"></span>
                        <img class="carousel-img" src="./img/error-404.png"
                            class="little-padding">
                    </div>
                    <div
                        class="carousel-item opaque-container column-flow hide">
                        <h1 class="title">Item 2</h1>
                        <span class="line"></span>
                        <img class="carousel-img" src="./img/error-404.png"
                            class="little-padding">
                    </div>
                    <div
                        class="carousel-item opaque-container column-flow hide">
                        <h1 class="title">Item 3</h1>
                        <span class="line"></span>
                        <img class="carousel-img" src="./img/error-404.png"
                            class="little-padding">
                    </div>
                </div>
                <div id="equipo-carousel" class="carousel half-horizontal">
                    <div
                        class="carousel-item opaque-container column-flow unhide">
                        <h1 class="title">Item 1</h1>
                        <span class="line"></span>
                        <img class="carousel-img" src="./img/error-404.png"
                            class="little-padding">
                    </div>
                    <div
                        class="carousel-item opaque-container column-flow hide">
                        <h1 class="title">Item 2</h1>
                        <span class="line"></span>
                        <img class="carousel-img" src="./img/error-404.png"
                            class="little-padding">
                    </div>
                    <div
                        class="carousel-item opaque-container column-flow hide">
                        <h1 class="title">Item 3</h1>
                        <span class="line"></span>
                        <img class="carousel-img" src="./img/error-404.png"
                            class="little-padding">
                    </div>
                </div>
            </div>

            <!-- Premios o reconocimientos: Si la empresa ha recibido algún premio o
            reconocimiento notable, asegúrate de mencionarlo.

            Equipo: Presenta al equipo principal o al equipo fundador de la
            empresa, destacando las habilidades y experiencias relevantes. -->

            <div class="opaque-alfa-container">
                <h1 class="title">Contactanos</h1>
                <span class="line"></span>
                <div class="horizontal-container items-in-start">
                    <div class="sixth-column">
                        <form action method>
                            <h3 class="title">Contactanos</h3>
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre"
                                required><br><br>

                            <label for="email">Correo electrónico:</label>
                            <input type="email" id="email" name="email"
                                required><br><br>

                            <label for="asunto">Asunto:</label>
                            <input type="text" id="asunto" name="asunto"
                                required><br><br>

                            <label for="mensaje">Mensaje:</label><br>
                            <textarea id="mensaje" name="mensaje" rows="4"
                                required></textarea><br><br>

                            <input type="submit" value="Enviar">
                        </form>
                    </div>
                    <div id="contact-info-field"
                        class="third-column opaque-container">
                        <h3 class="title">Información de contacto</h3>
                        <ul>
                            <li><strong>Dirección:</strong> 123 Calle Principal,
                                Ciudad, País</li>
                            <li><strong>Teléfono:</strong> +1234567890</li>
                            <li><strong>Correo electrónico:</strong>
                                info@tuempresa.com</li>
                            <li><strong>Horario de atención:</strong> Lunes a
                                Viernes, 9:00 am - 5:00 pm</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Contacto: Finaliza la página con información de contacto para que
            los visitantes puedan comunicarse si desean obtener más información. -->

        </section>

        <script type="module" src="/app.js"></script>
        <script src="./js/optionCarousel.js"></script>
    </body>
</html>